@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<!-- <h3>@ViewData["Message"]</h3> -->

<p>This is a small web-based application <br/> to upload files to a local storage.</p>
