@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<!-- <h3>@ViewData["Message"]</h3> -->

<address>
    Jan Hecht<br />
    Seumestra&szlig;e 21<br />
    <abbr title="Phone">P:</abbr>
    0151-43131040
</address>

<address>
    <strong>Q&amp;A, Feedback:</strong> <a href="mailto:jan.hecht@jh-isw.de">jan.hecht@jh-isw.de</a><br />
</address>
